body {
  text-align: center;
  font-family: 'Poppins', sans-serif;
}

.overlay {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.page-head {
  overflow: auto;
  position: relative;
}

.page-head::before {
  content: "";
  position: fixed;
  left: 0;
  right: 0;
  z-index: -1;

  display: block;
  background-image: url("swe-monitors.jpg");
  background-size: 100% 130%;
  background-position: center;
  height: 100vh;
  filter: grayscale(20%);
  filter: brightness(55%);
}

.name {
  display: flex;
  font-weight: 800;
  font-size: 65px;
  color: #ffffff;
  margin-bottom: 0;
  margin-top: 44vh;
  margin-left: 15vw;
}

.title {
  display: flex;
  font-weight: 300;
  font-size: 65px;
  color: #fbd214;
  margin: 0;
  margin-left: 15vw;
}

.brand-statement {
  display: flex;
  color: #ffffff;
  font-size: 30px;
  margin: 0;
  margin-left: 15vw;
  margin-bottom: 15%;
}

.white-section {
  background-color: #ffffff;
}

.gray-section {
  background-color: #e8e8e8;
}

.text {
  margin: 0 auto;
  width: 70%;
  margin-bottom: 8%;
}

a {
  text-decoration: none;
}

.section-title {
  font-size: 44px;
  font-weight: 700;
  margin-top: 8%;
}

.about-me {
  display: flex;
  margin-bottom: 8%;
}

.li-photo {
  width: 50vw;
  height: 70vh;
  margin-left: 16%;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, .6);
}

.about-me-text {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  margin-right: 16%;
  word-spacing: 3px;
}

.am-1 {
  margin: 10% 15%;
  margin-bottom: 5%;
  text-align: left;
}

.am-2 {
  margin: 10% 15%;
  margin-top: 5%;
  text-align: left;
}

.skills {
  text-align: left;
  margin-left: 18%;
  margin-bottom: 8%;
  word-spacing: 3px;
}

.text-bold {
  font-weight: 700;
  color: black;
  margin-top: 3%;
}

.projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.project-photo-box {
  display: flex;
  flex-wrap: wrap;
  gap: 2.5vw;
  margin: 0 auto;
  margin-bottom: 8%;
}

.project-photo {
  height: 28vh;
  width: 30vw;
  border-radius: 3px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, .6);
  transition-duration: .75s;
}

.project-photo:hover {
  transform: scale(1.1);
}

.resume-box {
  display: flex;
  justify-content: center;
  font-size: 44px;
  font-weight: 700;
  margin-top: 8%;
  margin-bottom: 8%;
}

.resume {
  display: flex;
  justify-content: center;
  width: 20%;
  background-color: black;
  color: #ffffff;
  padding: 17px;
  transition-duration: 1s;
}

.resume:hover {
  transform: scale(1.3);
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact-section-title {
    font-size: 44px;
    font-weight: 700;
    margin-top: 8%;
    margin-bottom: 2%;
}

.contact-text-blurb {
  margin: 0 auto;
  width: 70%;
  margin-bottom: 10%;
}

.contact-info {
  display: flex;
  justify-content: space-around;
  width: 100vw;
  margin-bottom: 8%;
}

.text-title {
  margin: 0 auto;
  width: 70%;
  margin-left: 40%;
  font-weight: 700;
  color: black;
}

.contact-text {
  margin: 0 auto;
  width: 70%;
}

.contact-section {
  display: flex;
  justify-content: space-around;
  margin-bottom: 2%;
  text-align: left;
}

.contact-logo-gh {
  width: 28px;
  height: 28px;
}

.contact-logo-li {
  width: 22px;
  height: 22px;
}